<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DankyServlet</servlet-name>
        <servlet-class>controller.DankyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangNhapServlet</servlet-name>
        <servlet-class>controller.DangNhapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GioHangServlet</servlet-name>
        <servlet-class>controller.GioHangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThanhtoanServlet</servlet-name>
        <servlet-class>controller.ThanhtoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProduct</servlet-name>
        <servlet-class>controller.ListProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemSP</servlet-name>
        <servlet-class>controller.ThemSP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DankyServlet</servlet-name>
        <url-pattern>/DankyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangNhapServlet</servlet-name>
        <url-pattern>/DangNhapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GioHangServlet</servlet-name>
        <url-pattern>/GioHangServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThanhtoanServlet</servlet-name>
        <url-pattern>/ThanhtoanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProduct</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemSP</servlet-name>
        <url-pattern>/ThemSP</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
